<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/header')%>
  </head>
  <body>
    <div class="wrapper">
      <%- include('./layout/navigation')%> <%- include('./layout/sidebar')%> <%-
      include('./layout/content-wrapper')%> <%- include('./layout/footer')%>
    </div>
    <!-- ./wrapper -->
    <%- include('./layout/js')%>
  </body>
</html>
